@font-face {
  font-weight: 400;
  src: url(/resources/fonts/JetBrainsMono-Regular.woff2) format("woff");
  font-family: "JetBrains Mono";
}

@font-face {
  font-weight: 300;
  src: url(/resources/fonts/JetBrainsMono-Light.woff2) format("woff");
  font-family: "JetBrains Mono";
}

@font-face {
  font-weight: 100;
  src: url(/resources/fonts/JetBrainsMono-Thin.woff2) format("woff");
  font-family: "JetBrains Mono";
}

:root {
  --light: #ffffff;
  --dark: #1d1c21;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--light);
  font-weight: 400;
  font-size: 1rem;
  font-family: "JetBrains Mono", monospace;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 32px;
  background-color: var(--dark);
  padding: 96px 24px;
  padding-inline: max(24px, calc((100% - 480px) / 2));
  width: 100dvw;
  min-height: 100dvh;
}

.top {
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.top .icon-wrapper {
  height: 96px;
}

.top .icon-wrapper .icon {
  border-radius: 24px;
}

.top .headers {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}

.top .headers .superheader {
  font-size: 3.75rem;
}

.top .headers .header {
  font-size: 1.25rem;
}

.top .headers .subheader {
  font-weight: 100;
}

.quick-anchors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.quick-anchors .icon-wrapper {
  width: 48px;
  height: 48px;
}

.quick-anchors .icon-wrapper .icon {
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
}

.quick-anchors .icon-wrapper .icon:hover {
  opacity: 1;
}

.anchors {
  display: grid;
  gap: 16px;
  width: 100%;
}

.anchors .anchor {
  display: flex;
  transition: background-color 0.15s ease-in-out;
  border-radius: 32px;
  background-color: #ffffff10;
  width: 100%;
  height: 64px;
  overflow: hidden;
  text-decoration: none;
}

.anchors .anchor .text {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 300;
}

.anchors .anchor .icon-wrapper {
  padding: 14px;
  height: 100%;
}

.anchors .header {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

.anchors .anchor:hover {
  background-color: #ffffff20;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.icon-wrapper .icon {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.round-9 {
  border-radius: 9px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 400px) {
  .anchors .anchor .icon-wrapper {
    display: none;
  }
}
